body {
    background-color: black;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    margin: 0;
    min-height: 100vh;
}

.container {
    border: 10px solid rgb(0, 61, 0);
    padding: 30px 30px;
    background-color: rgb(30, 35, 30);
}

.VersionContainer {
    display: flexbox;
}

.orgainzer {
    display: flex;
}

.pw-container {
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    min-width: 400px;
    /* width: auto; how to make content fit by going to the next line */
    width: auto; 
}

.pw-header {
    padding: 1rem;
    color: white;
}

.pw {
    background-color: rgb(38, 122, 3);
    color: white;
    align-content: right;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    height: 70px;
    position: relative;
    padding: 1rem;
    overflow: auto;
}


.pw button {
    background-color: white;
    border: none;
    color: rgb(223, 30, 30);
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    padding: 0.25rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 20%);
    transition: opacity 0.2s ease, transform 0.2s ease;
    opacity: 0;
}

.pw:hover button {
    opacity: 1;
    transform: translate(0, 0%);
}

.pw-body {
    padding: 0 1rem 1rem;
}

.form-control {
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
    
}

.generate {
    background-color:rgb(7, 115, 3);
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75rem;
    margin-top: 1rem;
    width: 100%;
}

.copy {
    color: rgb(255, 0, 0);
}
Footer